{% extends '@Probleme/base.html.twig' %}

{% block body %}
    <h1>Client</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ client.client }}</td>
            </tr>
            <tr>
                <th>Consommation de pommes</th>
                <td>{{ client.consomationDePomme }}</td>
            </tr>
            <tr>
                <th>Consommation de bananes</th>
                <td>{{ client.consomationDeBanane }}</td>
            </tr>
            <tr>
                <th>Consommation d'ananas</th>
                <td>{{ client.consomationAnanas }}</td>
            </tr>
            <tr>
                <th>Cout total :</th>
                <td>{{ facture }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('client_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('client_edit', { 'id': client.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
